<%- include('./partials/header') %>

<div class="container">
  <h2 class="text-center mt-5">Welcome to <%= title %></h2>
  <h5 class="text-center mt-4">The Ultimate Surf Guide</h5>
  <div class="m-auto mt-4" id="map"></div>
</div>

<%- include('./partials/footer') %>