<%- include('./partials/header') %>

<div class="container">
  <h1 class="text-center mt-5">Welcome to <%= title %></h1>
  <h4 class="text-center mt-4">The Ultimate Surf Guide</h4>
  <div class="m-auto mt-5" id="map"></div>
</div>

<%- include('./partials/footer') %>