* {
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
  color: #424748;
}

body {
  background-color: #FFCF9D;
}

h1 {
  color: #004225;
}

a {
  color: #00B7FF;
}

.review-user {
  border-radius: 50%;
  height: 40px;
}

.card-img-top {
  height: 40vmin;
}

.spot-btn {
  width: 70vmin;
  margin: 0.5vmin auto;
}

.spot-card {
  width: 80vmin;
}

#map {
  height: 67vmin;
  width: 80vmin;
}

#description-textarea {
  height: 13vmin;
}

.delete-btn {
  width: 60vmin;
}

#nav-logo {
  height: 6vmin;
  width: 6vmin;
}

nav.navbar {
  background-color: transparent;
}

.navbar-nav>a {
  color: #004225;
  font-size: 2vmin;
}

.navbar-nav>a:hover {
  color: #22668D;
  font-size: 2vmin;
}

footer {
  color: grey;
}

.btn-primary {
  background-color: #004225;
  border: #004225;
}

.btn-primary:hover {
  background-color: #097e4c;
  border: #097e4c;
}

.btn-success {
  background-color: #22668D;
  border: #22668D;
}

.btn-success:hover {
  background-color: #097e4c;
  border: #097e4c;
}


.btn-warning {
  background-color: #22668D;
  border: #22668D;
  color: white;
}

.btn-warning:hover {
  background-color: #ffbf00;
  border: #097e4c;
}

.btn-danger {
  background-color: #C63D2F;
  border: #C63D2F;
}

.btn-danger:hover {
  background-color: #fe1900;
  border: #097e4c;
}

.edit-session-div {
  margin-top: 15vmin;
  margin-bottom: 20vmin;
}

.marker-img {
  height: 20vmin;
  width: 20vmin;
}