* {
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
  color: #424748;
}

body {
  background-color: #e19b5055;
  margin-bottom: 0;
}

h1 {
  color: #004225;
}

a {
  color: #00B7FF;
}

.review-user {
  border-radius: 50%;
  height: 40px;
}

.card-img-top {
  height: 40vmin;
}

.spot-btn {
  width: 70vmin;
  height: 2.75rem;
  margin: 0 auto;
}

.spot-btn-btm {
  width: 70vmin;
  height: 2.75rem;
  margin: 2rem auto;
}

.spot-card {
  width: 90vmin;
}

#map {
  height: 60vmin;
  width: 80vmin;
}

#description-textarea {
  height: 13vmin;
}

.delete-btn {
  width: 60vmin;
}

#nav-logo {
  height: 6vmin;
  width: 6vmin;
}

nav.navbar {
  background-color: #22668D;
}

.navbar-nav>a {
  color: #FFCF9D;
  font-size: 2vmin;
}

.active {
  color: green;
}

.navbar-nav>a:hover {
  color: #F5F5DC;
  font-size: 2vmin;
}

footer {
  color: grey;
  position: sticky;
  height: 3rem; 
}

.btn-primary {
  background-color: #31834b;
  border: #004225;
}

.btn-primary:hover {
  background-color: #097e4c;
  border: #097e4c;
}

.btn-success {
  background-color: #22668D;
  border: #22668D;
}

.btn-success:hover {
  background-color: #097e4c;
  border: #097e4c;
}

.btn-warning {
  background-color: #22668D;
  border: #22668D;
  color: white;
}

.btn-warning:hover {
  background-color: #ffbf00;
  border: #097e4c;
}

.btn-danger {
  background-color: #C63D2F;
  border: #C63D2F;
}

.btn-danger:hover {
  background-color: #fe1900;
  border: #097e4c;
}

.edit-session-div {
  margin-top: 15vmin;
  margin-bottom: 20vmin;
}

.marker-img {
  height: 20vmin;
  width: 30vmin;
}

.session-avatar {
  border-radius: 50%;
  height: 8vmin;
  width: 8vmin;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
  width: 30vmin !important;
}

.my-session-btn {
  margin: 0.5rem;
  height: 2.5rem;
}

.no-session-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.no-session-btn {
  width: 20vw;
  margin-top: 2rem;
}

.container {
  min-height: 75vh;
}