* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #424748;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* background-image: url('https://i.imgur.com/Xz9Vl10.jpg');
  background-size: cover;
  background-attachment: fixed; */
  background-color: pink;
}

a {
  color: #00B7FF;
}

.review-user {
  border-radius: 50%;
  height: 40px;
}

.card-img-top {
  height: 40vmin;
}

.spot-btn {
  width: 70vmin;
  margin: 0.5vmin auto;
}

.spot-card {
  width: 80vmin;
}

#map {
  height: 60vmin;
  width: 50vmin;
}

#description-textarea {
  height: 13vmin;
}

.delete-btn {
  width: 60vmin;
}

#nav-logo {
  height: 6vmin;
  width: 6vmin;
}

nav.navbar {
  background-color: transparent;
}

.navbar-nav>a {
  color: white;
  font-size: 2vmin;
}

.navbar-nav>a:hover {
  color: pink;
  font-size: 2vmin;
}

footer {
  color: white;
}